# macOS Files
.DS_Store

# InstaCart Data
aisles.csv
departments.csv
order_products__prior.csv
order_products__train.csv
orders.csv
products.csv
orders_sample40.csv
order_products_sample40.csv

# RStudio Files
.Rhistory
.RData
.history

# Cache Directories
*_cache
*_files
